<!DOCTYPE html>
<html>
  <head>
    <title>Detalle Banda</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('./partials/menu.ejs') %>

    <h1><%= banda.nombre %></h1>
    <p>Genero: 
        <a href="/bandas/genero/<%= banda.genero %>"> <%= banda.genero %> 
        </a>
    </p>
    <p>Cantidad de Integrantes: <%= banda.integrantes %></p>
    <p><img src="/<%= banda.cover %>" alt="<%= banda.nombre %>"></p>
    <p>Mejores Canciones: 
        <ul>
            <% banda.topCanciones.forEach(cancion => { %>
              <li><%= cancion %></li>
            <% }); %>
          </ul>
    </p>
  </body>
</html>
