<!DOCTYPE html>
<html>
  <head>
    <title>Listado Bandas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Listado Bandas</h1>

    <%- include('./partials/menu.ejs') %>

    <ul>
        <% bandas.forEach(banda => { %>
        <li>
            <a href="/bandas/<%= banda.id %>"> <%= banda.nombre %><br>
            <img src="/<%= banda.cover %>" alt="<%= banda.nombre %>"></a>
        </li>
        <% }); %>
    </ul>

  </body>
</html>
